@model IEnumerable<Webshop18AO.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Products</h1>
        <p class="lead text-muted mb-0">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte...</p>
    </div>
</section>



<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block">
                    <li class="list-group-item"><a href="category.html">Cras justo odio</a></li>
                    <li class="list-group-item"><a href="category.html">Dapibus ac facilisis in</a></li>
                    <li class="list-group-item"><a href="category.html">Morbi leo risus</a></li>
                    <li class="list-group-item"><a href="category.html">Porta ac consectetur ac</a></li>
                    <li class="list-group-item"><a href="category.html">Vestibulum at eros</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="card">
                            <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><a href="product.html" title="View Product">@item.Name</a></h4>
                                <p class="card-text">@(new string(item.Description.Take(100).ToArray())) ...</p>
                                <div class="row">
                                    <div class="col">
                                        <p class="btn btn-danger btn-block">Prijs: @item.Price.ToString("c")</p>
                                    </div>
                                    <div class="col">
                                        <a asp-action="AddToCart" asp-route-id="@item.Id" class="btn btn-success btn-block">In winkelwagen</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Products</h1>
    </div>
</section>
<br />
<br />
<br />
<br />